"""notion.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from notion.api_helper import APIHelper
from notion.apis.base_api import BaseApi
from notion.configuration import Server
from notion.exceptions.error_exception import (
    ErrorException,
)
from notion.http.http_method_enum import HttpMethodEnum
from notion.models.block import Block
from notion.models.paginated_list import PaginatedList


class BlocksApi(BaseApi):
    """A Controller to access Endpoints in the notion API."""

    def __init__(self, config):
        """Initialize BlocksApi object."""
        super(BlocksApi, self).__init__(config)

    def retrieve_block(self,
                       notion_version,
                       block_id):
        """Perform a GET request to /blocks/{block_id}.

        Retrieves a Block object using the ID specified in the path. If the block is
        a page, the page properties will be returned. The block's children are not
        included; use the retrieve block children endpoint to get them.

        Args:
            notion_version (str): The version of the Notion API to use. The current
                version is 2022-06-28. This header is required for all API requests.
            block_id (uuid|str): The ID of the block to retrieve.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Block successfully
                retrieved.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/blocks/{block_id}")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("Notion-Version")
                .value(notion_version)
                .is_required(True))
            .template_param(Parameter()
                .key("block_id")
                .value(block_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("bearerAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Block.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "The bearer token is missing, invalid, or the integration lacks acces"
                "s.",
                ErrorException)
            .local_error("404",
                "The requested resource does not exist or the integration lacks acces"
                "s to it.",
                ErrorException)
            .local_error("429",
                "The request has been rate limited. Notion enforces rate limits of 3 "
                "requests per second for integrations. Retry after the specified dela"
                "y.",
                ErrorException),
        ).execute()

    def update_block(self,
                     notion_version,
                     block_id,
                     body):
        """Perform a PATCH request to /blocks/{block_id}.

        Updates the content of a block. The fields that can be updated depend on the
        block type. Blocks can also be archived by setting the archived field to true.

        Args:
            notion_version (str): The version of the Notion API to use. The current
                version is 2022-06-28. This header is required for all API requests.
            block_id (uuid|str): The ID of the block to update.
            body (BlocksRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Block successfully
                updated.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/blocks/{block_id}")
            .http_method(HttpMethodEnum.PATCH)
            .header_param(Parameter()
                .key("Notion-Version")
                .value(notion_version)
                .is_required(True))
            .template_param(Parameter()
                .key("block_id")
                .value(block_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("bearerAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Block.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request was invalid or malformed.",
                ErrorException)
            .local_error("401",
                "The bearer token is missing, invalid, or the integration lacks acces"
                "s.",
                ErrorException)
            .local_error("404",
                "The requested resource does not exist or the integration lacks acces"
                "s to it.",
                ErrorException)
            .local_error("429",
                "The request has been rate limited. Notion enforces rate limits of 3 "
                "requests per second for integrations. Retry after the specified dela"
                "y.",
                ErrorException),
        ).execute()

    def delete_block(self,
                     notion_version,
                     block_id):
        """Perform a DELETE request to /blocks/{block_id}.

        Sets a Block object, including page blocks, to archived: true using the ID
        specified in the path. This is equivalent to trashing the block in the Notion
        UI. To restore an archived block, use the update block endpoint to set
        archived to false.

        Args:
            notion_version (str): The version of the Notion API to use. The current
                version is 2022-06-28. This header is required for all API requests.
            block_id (uuid|str): The ID of the block to delete (archive).

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Block successfully
                deleted (archived).

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/blocks/{block_id}")
            .http_method(HttpMethodEnum.DELETE)
            .header_param(Parameter()
                .key("Notion-Version")
                .value(notion_version)
                .is_required(True))
            .template_param(Parameter()
                .key("block_id")
                .value(block_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("bearerAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Block.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "The bearer token is missing, invalid, or the integration lacks acces"
                "s.",
                ErrorException)
            .local_error("404",
                "The requested resource does not exist or the integration lacks acces"
                "s to it.",
                ErrorException)
            .local_error("429",
                "The request has been rate limited. Notion enforces rate limits of 3 "
                "requests per second for integrations. Retry after the specified dela"
                "y.",
                ErrorException),
        ).execute()

    def retrieve_block_children(self,
                                notion_version,
                                block_id,
                                start_cursor=None,
                                page_size=None):
        """Perform a GET request to /blocks/{block_id}/children.

        Returns a paginated array of child block objects contained in the block using
        the ID specified. This is used to read page content by passing a page ID as
        the block_id. Responses include a maximum of 100 blocks per request and are
        returned in the order they appear in the parent block.

        Args:
            notion_version (str): The version of the Notion API to use. The current
                version is 2022-06-28. This header is required for all API requests.
            block_id (uuid|str): The ID of the block whose children to retrieve. This
                can be a page ID to retrieve page content.
            start_cursor (str, optional): Pagination cursor to continue fetching
                results.
            page_size (int, optional): Maximum number of blocks to return (max 100).

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Block children
                successfully retrieved.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/blocks/{block_id}/children")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("Notion-Version")
                .value(notion_version)
                .is_required(True))
            .template_param(Parameter()
                .key("block_id")
                .value(block_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("start_cursor")
                .value(start_cursor))
            .query_param(Parameter()
                .key("page_size")
                .value(page_size))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("bearerAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaginatedList.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "The bearer token is missing, invalid, or the integration lacks acces"
                "s.",
                ErrorException)
            .local_error("404",
                "The requested resource does not exist or the integration lacks acces"
                "s to it.",
                ErrorException)
            .local_error("429",
                "The request has been rate limited. Notion enforces rate limits of 3 "
                "requests per second for integrations. Retry after the specified dela"
                "y.",
                ErrorException),
        ).execute()

    def append_block_children(self,
                              notion_version,
                              block_id,
                              body):
        """Perform a PATCH request to /blocks/{block_id}/children.

        Creates and appends new children blocks to the parent block specified by
        block_id. Returns the updated parent block. Blocks can be appended to pages,
        or to other blocks that support children. The maximum number of blocks that
        can be appended in a single request is 100.

        Args:
            notion_version (str): The version of the Notion API to use. The current
                version is 2022-06-28. This header is required for all API requests.
            block_id (uuid|str): The ID of the block to append children to. This can
                be a page ID to add content to a page.
            body (BlocksChildrenRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Block children
                successfully appended.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/blocks/{block_id}/children")
            .http_method(HttpMethodEnum.PATCH)
            .header_param(Parameter()
                .key("Notion-Version")
                .value(notion_version)
                .is_required(True))
            .template_param(Parameter()
                .key("block_id")
                .value(block_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("bearerAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaginatedList.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request was invalid or malformed.",
                ErrorException)
            .local_error("401",
                "The bearer token is missing, invalid, or the integration lacks acces"
                "s.",
                ErrorException)
            .local_error("404",
                "The requested resource does not exist or the integration lacks acces"
                "s to it.",
                ErrorException)
            .local_error("429",
                "The request has been rate limited. Notion enforces rate limits of 3 "
                "requests per second for integrations. Retry after the specified dela"
                "y.",
                ErrorException),
        ).execute()
