"""notion.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from notion.api_helper import APIHelper
from notion.apis.base_api import BaseApi
from notion.configuration import Server
from notion.exceptions.error_exception import (
    ErrorException,
)
from notion.http.http_method_enum import HttpMethodEnum
from notion.models.database import Database
from notion.models.paginated_list import PaginatedList


class DatabasesApi(BaseApi):
    """A Controller to access Endpoints in the notion API."""

    def __init__(self, config):
        """Initialize DatabasesApi object."""
        super(DatabasesApi, self).__init__(config)

    def create_database(self,
                        notion_version,
                        body):
        """Perform a POST request to /databases.

        Creates a database as a subpage of the specified parent page, with the
        specified properties schema. A database can be created with a title,
        properties defining the schema, and an optional description. The parent must
        be a page that the integration has access to.

        Args:
            notion_version (str): The version of the Notion API to use. The current
                version is 2022-06-28. This header is required for all API requests.
            body (DatabasesRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Database successfully
                created.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/databases")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Notion-Version")
                .value(notion_version)
                .is_required(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("bearerAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Database.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request was invalid or malformed.",
                ErrorException)
            .local_error("401",
                "The bearer token is missing, invalid, or the integration lacks acces"
                "s.",
                ErrorException)
            .local_error("404",
                "The requested resource does not exist or the integration lacks acces"
                "s to it.",
                ErrorException)
            .local_error("429",
                "The request has been rate limited. Notion enforces rate limits of 3 "
                "requests per second for integrations. Retry after the specified dela"
                "y.",
                ErrorException),
        ).execute()

    def retrieve_database(self,
                          notion_version,
                          database_id):
        """Perform a GET request to /databases/{database_id}.

        Retrieves a Database object using the ID specified in the path. Returns the
        database properties schema and metadata.

        Args:
            notion_version (str): The version of the Notion API to use. The current
                version is 2022-06-28. This header is required for all API requests.
            database_id (uuid|str): The ID of the database to retrieve.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Database successfully
                retrieved.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/databases/{database_id}")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("Notion-Version")
                .value(notion_version)
                .is_required(True))
            .template_param(Parameter()
                .key("database_id")
                .value(database_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("bearerAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Database.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "The bearer token is missing, invalid, or the integration lacks acces"
                "s.",
                ErrorException)
            .local_error("404",
                "The requested resource does not exist or the integration lacks acces"
                "s to it.",
                ErrorException)
            .local_error("429",
                "The request has been rate limited. Notion enforces rate limits of 3 "
                "requests per second for integrations. Retry after the specified dela"
                "y.",
                ErrorException),
        ).execute()

    def update_database(self,
                        notion_version,
                        database_id,
                        body):
        """Perform a PATCH request to /databases/{database_id}.

        Updates an existing database's title, description, or properties schema. Only
        the fields specified in the request body will be updated. To remove a
        property from the schema, set its value to null.

        Args:
            notion_version (str): The version of the Notion API to use. The current
                version is 2022-06-28. This header is required for all API requests.
            database_id (uuid|str): The ID of the database to update.
            body (DatabasesRequest1): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Database successfully
                updated.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/databases/{database_id}")
            .http_method(HttpMethodEnum.PATCH)
            .header_param(Parameter()
                .key("Notion-Version")
                .value(notion_version)
                .is_required(True))
            .template_param(Parameter()
                .key("database_id")
                .value(database_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("bearerAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Database.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request was invalid or malformed.",
                ErrorException)
            .local_error("401",
                "The bearer token is missing, invalid, or the integration lacks acces"
                "s.",
                ErrorException)
            .local_error("404",
                "The requested resource does not exist or the integration lacks acces"
                "s to it.",
                ErrorException)
            .local_error("429",
                "The request has been rate limited. Notion enforces rate limits of 3 "
                "requests per second for integrations. Retry after the specified dela"
                "y.",
                ErrorException),
        ).execute()

    def query_database(self,
                       notion_version,
                       database_id,
                       filter_properties=None,
                       body=None):
        """Perform a POST request to /databases/{database_id}/query.

        Gets a list of Pages and/or Databases contained in the database, filtered and
        ordered according to the filter and sort conditions specified in the request
        body. Responses are paginated and limited to 100 results per request.

        Args:
            notion_version (str): The version of the Notion API to use. The current
                version is 2022-06-28. This header is required for all API requests.
            database_id (uuid|str): The ID of the database to query.
            filter_properties (List[str], optional): A list of property IDs to
                include in the response. Only the specified properties will be
                returned for each page.
            body (DatabasesQueryRequest, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Database query results.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/databases/{database_id}/query")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Notion-Version")
                .value(notion_version)
                .is_required(True))
            .template_param(Parameter()
                .key("database_id")
                .value(database_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .query_param(Parameter()
                .key("filter_properties")
                .value(filter_properties))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("bearerAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaginatedList.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request was invalid or malformed.",
                ErrorException)
            .local_error("401",
                "The bearer token is missing, invalid, or the integration lacks acces"
                "s.",
                ErrorException)
            .local_error("404",
                "The requested resource does not exist or the integration lacks acces"
                "s to it.",
                ErrorException)
            .local_error("429",
                "The request has been rate limited. Notion enforces rate limits of 3 "
                "requests per second for integrations. Retry after the specified dela"
                "y.",
                ErrorException),
        ).execute()
