"""notion.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from notion.api_helper import APIHelper
from notion.apis.base_api import BaseApi
from notion.configuration import Server
from notion.exceptions.error_exception import (
    ErrorException,
)
from notion.http.http_method_enum import HttpMethodEnum
from notion.models.page import Page


class PagesApi(BaseApi):
    """A Controller to access Endpoints in the notion API."""

    def __init__(self, config):
        """Initialize PagesApi object."""
        super(PagesApi, self).__init__(config)

    def create_page(self,
                    notion_version,
                    body):
        """Perform a POST request to /pages.

        Creates a new page that is a child of an existing page or database. If the
        parent is a database, the property values of the new page must conform to the
        parent database's schema. The request body must include a parent and
        properties. Page content can optionally be provided as an array of block
        objects in the children field.

        Args:
            notion_version (str): The version of the Notion API to use. The current
                version is 2022-06-28. This header is required for all API requests.
            body (PagesRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Page successfully
                created.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/pages")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Notion-Version")
                .value(notion_version)
                .is_required(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("bearerAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Page.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request was invalid or malformed.",
                ErrorException)
            .local_error("401",
                "The bearer token is missing, invalid, or the integration lacks acces"
                "s.",
                ErrorException)
            .local_error("404",
                "The requested resource does not exist or the integration lacks acces"
                "s to it.",
                ErrorException)
            .local_error("429",
                "The request has been rate limited. Notion enforces rate limits of 3 "
                "requests per second for integrations. Retry after the specified dela"
                "y.",
                ErrorException),
        ).execute()

    def retrieve_page(self,
                      notion_version,
                      page_id,
                      filter_properties=None):
        """Perform a GET request to /pages/{page_id}.

        Retrieves a Page object using the ID specified in the path. Returns page
        properties but not page content (blocks). To retrieve page content, use the
        retrieve block children endpoint on the page ID.

        Args:
            notion_version (str): The version of the Notion API to use. The current
                version is 2022-06-28. This header is required for all API requests.
            page_id (uuid|str): The ID of the page to retrieve.
            filter_properties (List[str], optional): A list of page property value
                IDs to include in the response. If provided, only the specified
                properties will be returned.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Page successfully
                retrieved.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/pages/{page_id}")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("Notion-Version")
                .value(notion_version)
                .is_required(True))
            .template_param(Parameter()
                .key("page_id")
                .value(page_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("filter_properties")
                .value(filter_properties))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("bearerAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Page.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "The bearer token is missing, invalid, or the integration lacks acces"
                "s.",
                ErrorException)
            .local_error("404",
                "The requested resource does not exist or the integration lacks acces"
                "s to it.",
                ErrorException)
            .local_error("429",
                "The request has been rate limited. Notion enforces rate limits of 3 "
                "requests per second for integrations. Retry after the specified dela"
                "y.",
                ErrorException),
        ).execute()

    def update_page(self,
                    notion_version,
                    page_id,
                    body):
        """Perform a PATCH request to /pages/{page_id}.

        Updates the properties of a page. Only the properties specified in the
        request body will be updated. Properties that are not included will remain
        unchanged. Can also update the page icon, cover, and archived status.

        Args:
            notion_version (str): The version of the Notion API to use. The current
                version is 2022-06-28. This header is required for all API requests.
            page_id (uuid|str): The ID of the page to update.
            body (PagesRequest1): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Page successfully
                updated.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/pages/{page_id}")
            .http_method(HttpMethodEnum.PATCH)
            .header_param(Parameter()
                .key("Notion-Version")
                .value(notion_version)
                .is_required(True))
            .template_param(Parameter()
                .key("page_id")
                .value(page_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("bearerAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Page.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "The request was invalid or malformed.",
                ErrorException)
            .local_error("401",
                "The bearer token is missing, invalid, or the integration lacks acces"
                "s.",
                ErrorException)
            .local_error("404",
                "The requested resource does not exist or the integration lacks acces"
                "s to it.",
                ErrorException)
            .local_error("429",
                "The request has been rate limited. Notion enforces rate limits of 3 "
                "requests per second for integrations. Retry after the specified dela"
                "y.",
                ErrorException),
        ).execute()

    def retrieve_page_property(self,
                               notion_version,
                               page_id,
                               property_id,
                               start_cursor=None,
                               page_size=None):
        """Perform a GET request to /pages/{page_id}/properties/{property_id}.

        Retrieves a property item from a page. For paginated properties like rich
        text, relation, rollup, and people, this endpoint returns a paginated list.
        For all other property types, it returns a single property item.

        Args:
            notion_version (str): The version of the Notion API to use. The current
                version is 2022-06-28. This header is required for all API requests.
            page_id (uuid|str): The ID of the page.
            property_id (str): The ID of the property to retrieve.
            start_cursor (str, optional): Pagination cursor for paginated property
                types. If supplied, returns results starting after the cursor.
            page_size (int, optional): Maximum number of property items to return
                (max 100).

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Property item
                successfully retrieved.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/pages/{page_id}/properties/{property_id}")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("Notion-Version")
                .value(notion_version)
                .is_required(True))
            .template_param(Parameter()
                .key("page_id")
                .value(page_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("property_id")
                .value(property_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("start_cursor")
                .value(start_cursor))
            .query_param(Parameter()
                .key("page_size")
                .value(page_size))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("bearerAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error("401",
                "The bearer token is missing, invalid, or the integration lacks acces"
                "s.",
                ErrorException)
            .local_error("404",
                "The requested resource does not exist or the integration lacks acces"
                "s to it.",
                ErrorException)
            .local_error("429",
                "The request has been rate limited. Notion enforces rate limits of 3 "
                "requests per second for integrations. Retry after the specified dela"
                "y.",
                ErrorException),
        ).execute()
