"""notion.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from notion.api_helper import APIHelper
from notion.apis.base_api import BaseApi
from notion.configuration import Server
from notion.exceptions.error_exception import (
    ErrorException,
)
from notion.http.http_method_enum import HttpMethodEnum
from notion.models.paginated_list import PaginatedList
from notion.models.user import User


class UsersApi(BaseApi):
    """A Controller to access Endpoints in the notion API."""

    def __init__(self, config):
        """Initialize UsersApi object."""
        super(UsersApi, self).__init__(config)

    def list_users(self,
                   notion_version,
                   start_cursor=None,
                   page_size=None):
        """Perform a GET request to /users.

        Returns a paginated list of Users for the workspace. Guest users are not
        included. The response may include person users and bot users. Results are
        paginated with a maximum of 100 users per request.

        Args:
            notion_version (str): The version of the Notion API to use. The current
                version is 2022-06-28. This header is required for all API requests.
            start_cursor (str, optional): Pagination cursor to continue fetching
                results.
            page_size (int, optional): Maximum number of users to return (max 100).

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Users successfully
                retrieved.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/users")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("Notion-Version")
                .value(notion_version)
                .is_required(True))
            .query_param(Parameter()
                .key("start_cursor")
                .value(start_cursor))
            .query_param(Parameter()
                .key("page_size")
                .value(page_size))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("bearerAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PaginatedList.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "The bearer token is missing, invalid, or the integration lacks acces"
                "s.",
                ErrorException)
            .local_error("429",
                "The request has been rate limited. Notion enforces rate limits of 3 "
                "requests per second for integrations. Retry after the specified dela"
                "y.",
                ErrorException),
        ).execute()

    def retrieve_user(self,
                      notion_version,
                      user_id):
        """Perform a GET request to /users/{user_id}.

        Retrieves a User object using the ID specified in the path. Returns user
        details including name, avatar, and type (person or bot).

        Args:
            notion_version (str): The version of the Notion API to use. The current
                version is 2022-06-28. This header is required for all API requests.
            user_id (uuid|str): The ID of the user to retrieve.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. User successfully
                retrieved.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/users/{user_id}")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("Notion-Version")
                .value(notion_version)
                .is_required(True))
            .template_param(Parameter()
                .key("user_id")
                .value(user_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("bearerAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(User.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "The bearer token is missing, invalid, or the integration lacks acces"
                "s.",
                ErrorException)
            .local_error("404",
                "The requested resource does not exist or the integration lacks acces"
                "s to it.",
                ErrorException)
            .local_error("429",
                "The request has been rate limited. Notion enforces rate limits of 3 "
                "requests per second for integrations. Retry after the specified dela"
                "y.",
                ErrorException),
        ).execute()

    def retrieve_bot_user(self,
                          notion_version):
        """Perform a GET request to /users/me.

        Retrieves the bot User associated with the current API token. Returns
        information about the integration including its name, owner, and the
        workspace it belongs to.

        Args:
            notion_version (str): The version of the Notion API to use. The current
                version is 2022-06-28. This header is required for all API requests.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Bot user successfully
                retrieved.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/users/me")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("Notion-Version")
                .value(notion_version)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("bearerAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(User.from_dictionary)
            .is_api_response(True)
            .local_error("401",
                "The bearer token is missing, invalid, or the integration lacks acces"
                "s.",
                ErrorException)
            .local_error("429",
                "The request has been rate limited. Notion enforces rate limits of 3 "
                "requests per second for integrations. Retry after the specified dela"
                "y.",
                ErrorException),
        ).execute()
